<template>
  <div>
    <h1>Company Details</h1>   
    <ul class="flex space-x-4 mb-4 text-blue-600 underline">
      <li><router-link :to="{name: 'StaffImport'}">Import Staff</router-link></li>
      <li>Import Past Scorecards</li>
    </ul>       

    <form>
      <label class="block mt-4 mb-2">Company Name</label>
      <input type="text" class="border rounded p-2 block w-full bg-white" placeholder="Bob's Shipping Company" :readonly="disabled">
      <label class="block mt-8 mb-2">Dispatch Phone Number</label>
      <input type="text" class="border rounded p-2 block w-full" placeholder="(555) 555-5555" :readonly="disabled">
      <label class="block mt-8 mb-2">Address</label>
      <input type="text" class="border rounded p-2 block w-full mb-1" placeholder="Line 1" :readonly="disabled">
      <input type="text" class="border rounded p-2 block w-full mb-1" placeholder="Line 2" :readonly="disabled">
      <div class="flex space-x-1">
        <input type="text" class="border rounded p-2 block w-full" placeholder="City" :readonly="disabled">
        <input type="text" class="border rounded p-2 block w-full" placeholder="State" :readonly="disabled">
        <input type="text" class="border rounded p-2 block w-full" placeholder="Zip" :readonly="disabled">
      </div>
      <label class="block  mt-8 mb-2">Company Logo</label>
      <input type="file" :readonly="disabled">
    </form>
    <div class="mt-4">
        <el-button v-if="disabled" @click="toggleDisabled" type="primary" plain>Edit</el-button>
        <div v-else class="flex space-x-4">
          <el-button  @click="toggleDisabled" type="primary">Save</el-button>
          <el-button @click="toggleDisabled" >Cancel</el-button>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      disabled: true
    }
  },
  methods:{
    toggleDisabled(){
      this.disabled = !this.disabled
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
