<template>
  <div>
    <div class="flex items-center justify-between">
      <h1>Devices</h1> 
      <span>
        <el-input
              v-model="search"
              size="mini"
              prefix-icon="el-icon-search"
              clearable
              placeholder="Search..."/>
      </span>  
    </div>
    <el-table
    ref="table"
    empty-text="No Data"
    :data="tableData.filter(data => !search || data.deviceName.toLowerCase().includes(search.toLowerCase()))"
    @row-click="handleRowClick"
    style="width: 100%">

      

      <el-table-column
        label="Device Name"
        sortable
        prop="deviceName">
      </el-table-column>

      <el-table-column
        label="Phone #"
        sortable
        prop="phoneNumber">
      </el-table-column>

      <el-table-column
        label="Carrier"
        sortable
        prop="carrier">
      </el-table-column>

      <el-table-column
        label="Truck Assigned To"
        sortable
        prop="truck.number">
      </el-table-column>  

      <el-table-column        
        label="Status"
        sortable
        prop="status"
        width="100" >
        <template slot-scope="scope">
          <el-tag
            :type="scope.row.status !== 'Working' ? 'danger' : 'primary'"
            disable-transitions>{{scope.row.status}}</el-tag>
        </template>
      </el-table-column>

      <el-table-column
        type="expand">
        <template slot-scope="scope">
          <p>Notes: {{scope.row.notes}}</p>
          <el-button
            size="mini"
            @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
          <el-button
            size="mini"
            type="danger"
            plain
            @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
        </template>
      </el-table-column>

  </el-table>


  </div>
</template>

<script>
  export default {
    data() {
      return {
        tableData: [
          {
            deviceName: '004',
            phoneNumber: '555-555-5555',
            carrier: 'AT&T',
            truck: {
              number: 23
            },
            status: "Working",
            notes: ""
          },
          {
            deviceName: '005',
            phoneNumber: '555-555-5555',
            carrier: 'Verizon',
            truck: {
              number: 24
            },
            status: "Working",
            notes: ""
          },
          {
            deviceName: '006',
            phoneNumber: '555-555-5555',
            carrier: 'Sprint',
            truck: {
              number: 25
            },
            status: "Working",
            notes: ""
          },
          {
            deviceName: '007',
            phoneNumber: '555-555-5555',
            carrier: 'AT&T',
            truck: {
              number: 27
            },
            status: "Broken",
            notes: ""
          },
          {
            deviceName: '008',
            phoneNumber: '555-555-5555',
            carrier: 'AT&T',
            truck: {
              number: 28
            },
            status: "Working",
            notes: ""
          },
        ],
        search: '',
      }
    },
    methods: {
      handleEdit(index, row) {
        console.log(index, row);
      },
      handleDelete(index, row) {
        console.log(index, row);
      },
      handleRowClick(row, column, event){
        this.$refs.table.toggleRowExpansion(row)        
      }
    },
  }
</script>