<template>
  <div>    
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="el-icon-s-home"></i></el-breadcrumb-item>
      <el-breadcrumb-item :to="{ name: 'SettingsNoSelection'}">Settings</el-breadcrumb-item>
      <el-breadcrumb-item v-if="$route.meta.crumbTitle">{{$route.meta.crumbTitle}}</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="block lg:flex lg:space-x-4 mt-4">
      <div class="w-48">
        
        <ul class="mt-4">
          <li><router-link :to="{name: 'SettingsCompanyDetails'}">Company Details</router-link></li>
          <li><router-link :to="{name: 'SettingsDevices'}">Devices</router-link></li>
          <li><router-link :to="{name: 'SettingsThresholds'}">Thresholds</router-link></li>
          <li><router-link :to="{name: 'SettingsDropDowns'}">Drop Down Lists</router-link></li>
          <li></li>      
        </ul>
      </div>
      <div class="flex-grow mt-2">
        <transition name="fade"  mode="out-in">   
          <router-view name='settings'/>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>


export default {

}
</script>

<style lang="scss" scoped>
.router-link-exact-active{
  @apply .text-blue-600;
}
</style>
