@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
  scroll-behavior: smooth;
  @apply .bg-gray-100;
}

.auth-layout{
  background-image: url('../images/van.jpg');
}

.bg-blur{
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
}

h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  @apply .text-3xl .font-thin !important;
}

h2{
  @apply .text-2xl .font-thin !important;
}

h3{
  @apply .text-xl .font-thin !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: white !important;
  -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}


input:read-only, input:read-only:hover, input:read-only:focus{
  transition: all 0.5s ease;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  padding-left: 0;
  border-radius: 0 !important;  
  border-bottom: 1px solid #DCDFE6;
}

.el-form--label-top .el-form-item__label {
  padding: 0;
}

/*Upload Image Thumbnails*/
.el-upload-list--picture-card .el-upload-list__item {
  width: 100% !important;
  height: auto !important;
}
.el-upload--picture-card {
  width: 100% !important;
  line-height: unset !important;
}
.el-upload-dragger {
  border: none !important;
  width: 100% !important;
  height: auto !important;
}


/* Input Files */
.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}


.fileContainer {
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF;
  font-size: 12px;
  border-radius: 3px;
  padding: 7px 15px !important;
  float: left;
  line-height: 1;
  transition: .1s;
  font-weight: 500;
}
.fileContainer:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #FFF;
}

.fileContainer [type=file] {
  cursor: pointer;
}
