<template>
  <div>

    <!--Header-->
    <div class="flex justify-between items-center">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="el-icon-s-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item :to="{ name: 'StaffIndex' }">Daily Roster</el-breadcrumb-item>
        <el-breadcrumb-item>5/10/2020</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="flex space-x-2 items-center">
        <el-date-picker
          v-model="date"
          type="date"
          placeholder="Pick a day"
          format="MM/dd/yyyy"
          :picker-options="pickerOptions">
        </el-date-picker>
      </div>
    </div>

    <!--Second Level-->
    <div class="flex mt-4">
      <div>
        <p class="text-gray-600 font-bold ">DAILY IMPORTS</p>
        <ul class="text-blue-500">
          <li><button>Import Company Performance</button></li>
          <li>Import Mentor Data</li>
        </ul>
      </div>
    </div>


  </div>
</template>

<script>
// @ is an alias to /src

export default {
  data(){
    return{
      date: '',
      pickerOptions: {
        disabledDate(time) {
          const date = new Date();
          date.setTime(date.getTime() + 3600 * 1000 * 24 * 7);
          return time.getTime() > date;
        },
        shortcuts: [          
          {
          text: 'Yesterday',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit('pick', date);
            }
          },
          {
            text: 'Today',
            onClick(picker) {
              picker.$emit('pick', new Date());
            }
          },  
          {
            text: 'Tomorrow',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() + 3600 * 1000 * 24);
              picker.$emit('pick', date);
            }
          }
        ]
      }
    }
  }
}
</script>
