<template>
  <div class="">

    <!--Header-->
    <div class="flex justify-between mb-8">
      <div>
        <p class="text-gray-600 text-xs font-bold">OVERALL</p>
        <p class="text-green-600 text-2xl font-bold">Fantasic</p>
      </div>
      <div>
        <p class="text-gray-600 text-xs font-bold">QUALITY</p>
        <p class="text-blue-700 text-2xl font-bold">Good</p>
      </div>
      <div>
        <p class="text-gray-600 text-xs font-bold">RELIABILITY</p>
        <p class="text-green-600 text-2xl font-bold">Fantastic 99.5%</p>
      </div>
      <div>
        <p class="text-gray-600 text-xs font-bold">SAFETY &amp; COMPLIANCE</p>
        <p class="text-pink-600 text-2xl font-bold">Needs Work</p>
      </div>
    </div>

    <div class="flex justify-between space-x-4">
      <div class="w-1/3">
            <div class="border rounded  mb-4"><img class="h-32 mx-auto my-4" src="@/assets/images/sample-company.png"/></div>
            <div class="border rounded  p-4">
              <p class="text-gray-600 text-lg font-bold mb-4">ATTRITION</p>
              <DashAttritionChart/>
            </div>
      </div>
      <div class="w-2/3">
            <div class="border rounded mb-4 p-4">
              <p class="text-gray-600 text-lg font-bold">COMPANY PERFORMANCE</p>
              <div class="flex justify-between my-4 border rounded p-4">
                <div class="rounded w-1/5 text-center">
                  <el-tooltip class="item" effect="dark" content="Did Not Receive?" placement="top">
                    <p class="text-gray-600 text-xs font-bold ">DNRs <i class="uil uil-question-circle text-base"></i></p>
                  </el-tooltip>
                  <p class="text-green-600 text-2xl font-bold">0</p>
                </div>
                <div class="rounded w-1/5 text-center bg-blue-100 border border-blue-500">
                  <el-tooltip class="item" effect="dark" content="Delivery Complete Rate" placement="top">
                    <p class="text-gray-600 text-xs font-bold">DCR <i class="uil uil-question-circle text-base"></i></p>
                  </el-tooltip>
                  <p class="text-green-600 text-2xl font-bold">0</p>
                </div>
                <div class="rounded w-1/5 text-center">
                  <el-tooltip class="item" effect="dark" content="Delivery Complete Rate" placement="top">
                    <p class="text-gray-600 text-xs font-bold">SWC-POD  <i class="uil uil-question-circle text-base"></i></p>
                  </el-tooltip>
                  <p class="text-pink-600 text-2xl font-bold">98.3</p>
                </div>
                <div class="rounded w-1/5 text-center">
                  <el-tooltip class="item" effect="dark" content="Delivery Complete Rate" placement="top">
                    <p class="text-gray-600 text-xs font-bold">SWC-SC  <i class="uil uil-question-circle text-base"></i></p>
                  </el-tooltip>
                  <p class="text-green-600 text-2xl font-bold">0</p>
                </div>
                <div class="rounded w-1/5 text-center">
                  <el-tooltip class="item" effect="dark" content="Delivery Complete Rate" placement="top">
                    <p class="text-gray-600 text-xs font-bold">RTS  <i class="uil uil-question-circle text-base"></i></p>
                  </el-tooltip>
                  <p class="text-green-600 text-2xl font-bold">0</p>
                </div>
              </div>
              <p class="text-gray-600 text-sm font-bold mb-4">DELIVERY COMPLETION RATE</p>
              <DashPerformanceChart/>

            </div>
            <div class="border rounded p-4">
              <p class="text-gray-600 text-lg font-bold mb-4">DRIVER PERFORMANCE</p>
              <DashDriverChart/>
            </div>
      </div>
    </div>
  </div>
</template>

<script>

import DashPerformanceChart from '@/components/DashPerformanceChart'
import DashDriverChart from '@/components/DashDriverChart'
import DashAttritionChart from '@/components/DashAttritionChart'

export default {
  components:{ DashPerformanceChart, DashDriverChart, DashAttritionChart }
}
</script>
