<template>
  <div>
    <!--Header-->
    <div class="flex justify-between items-center">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="el-icon-s-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item :to="{ name: 'StaffIndex' }">Staff</el-breadcrumb-item>
        <el-breadcrumb-item>Mason Stenquist</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="flex space-x-2 items-center">
        <label>Active</label>
        <el-switch v-model="active"></el-switch>
      </div>
    </div>

    <!--Stats Bar-->
    <div class="flex mt-4 justify-between py-4">
      <div class="text-center">
        <el-tooltip class="item" effect="dark" content="Did Not Receive?" placement="top">
          <p class="text-gray-600 text-xs font-bold ">DCR <i class="uil uil-question-circle text-base"></i></p>
        </el-tooltip>
        <p class="text-green-600 text-2xl font-bold">100%</p>
      </div>
      <div class="text-center">
        <el-tooltip class="item" effect="dark" content="Did Not Receive?" placement="top">
          <p class="text-gray-600 text-xs font-bold ">DAR <i class="uil uil-question-circle text-base"></i></p>
        </el-tooltip>
        <p class="text-green-600 text-2xl font-bold">100%</p>
      </div>
      <div class="text-center">
        <el-tooltip class="item" effect="dark" content="Did Not Receive?" placement="top">
          <p class="text-gray-600 text-xs font-bold ">SWC-POD <i class="uil uil-question-circle text-base"></i></p>
        </el-tooltip>
        <p class="text-green-600 text-2xl font-bold">98.6%</p>
      </div>
      <div class="text-center">
        <el-tooltip class="item" effect="dark" content="Did Not Receive?" placement="top">
          <p class="text-gray-600 text-xs font-bold ">SWC-AD <i class="uil uil-question-circle text-base"></i></p>
        </el-tooltip>
        <p class="text-green-600 text-2xl font-bold">0</p>
      </div>
      <div class="text-center">
        <el-tooltip class="item" effect="dark" content="Did Not Receive?" placement="top">
          <p class="text-gray-600 text-xs font-bold ">DNRs <i class="uil uil-question-circle text-base"></i></p>
        </el-tooltip>
        <p class="text-green-600 text-2xl font-bold">0</p>
      </div>
      <div class="text-center">
        <el-tooltip class="item" effect="dark" content="Did Not Receive?" placement="top">
          <p class="text-gray-600 text-xs font-bold ">SWC-CC <i class="uil uil-question-circle text-base"></i></p>
        </el-tooltip>
        <p class="text-green-600 text-2xl font-bold">0</p>
      </div>
      <div class="text-center">
        <el-tooltip class="item" effect="dark" content="Did Not Receive?" placement="top">
          <p class="text-gray-600 text-xs font-bold ">SWC-SC <i class="uil uil-question-circle text-base"></i></p>
        </el-tooltip>
        <p class="text-green-600 text-2xl font-bold">0</p>
      </div>
    </div>

    <!--Main Info Grid-->
    <div class="grid grid-rows-2 grid-flow-col gap-4">
      <div class="border p-4 rounded">
        <p class="text-gray-600 text-base font-bold">PERSONAL INFO</p>
      </div>
      <div class="border p-4 rounded">
        <p class="text-gray-600 text-base font-bold">PERFORMANCE</p>
      </div>
      <div class="border p-4 rounded">
        <p class="text-gray-600 text-base font-bold">COMPANY INFO</p>
      </div>
      <div class="border p-4 rounded">
        <p class="text-gray-600 text-base font-bold">CX FEEDBACK</p>
      </div>
    </div>

    <!--Accordian-->
    <el-collapse>
      <el-collapse-item title="DOCUMENTS" name="1">
        <div>Consistent with real life: in line with the process and logic of real life, and comply with languages and habits that the users are used to;</div>
        <div>Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc.</div>
      </el-collapse-item>
      <el-collapse-item title="PAS SCORECARDS AND PERFORMANCE" name="2">
        <div>Operation feedback: enable the users to clearly perceive their operations by style updates and interactive effects;</div>
        <div>Visual feedback: reflect current state by updating or rearranging elements of the page.</div>
      </el-collapse-item>
    </el-collapse>

  </div>
</template>

<script>
// @ is an alias to /src

export default {
  data(){
    return{
      active: true
    }
  }

}
</script>
