<template>
  <div>
    <div class="flex items-center justify-between">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="el-icon-s-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item>Staff</el-breadcrumb-item>
      </el-breadcrumb>
      <span class="flex space-x-2">
        <div>          
          <el-dropdown trigger="click">
              <span class="el-dropdown-link">
                  <i class="el-icon-arrow-down el-icon--left"></i>Filter
              </span>
              <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item>Inactive</el-dropdown-item>
                  <el-dropdown-item>Onboarding</el-dropdown-item>
                  <el-dropdown-item>Terminated</el-dropdown-item>
              </el-dropdown-menu>
          </el-dropdown>
        </div>
        <div>
          <el-input
                v-model="search"
                size="mini"
                prefix-icon="el-icon-search"
                clearable
                placeholder="Search..."/>
        </div>
        <div>
          <el-button size="mini" type="primary">Add Employee</el-button>
        </div>
      </span>  
    </div>

    <el-table
      ref="table"
      empty-text="No Data"
      :data="tableData.filter(data => !search || data.firstName.toLowerCase().includes(search.toLowerCase()))"
      @row-click="handleRowClick"
      style="width: 100%">
      

      <el-table-column
        label="First Name"
        sortable
        prop="firstName">
      </el-table-column>

      <el-table-column
        label="Last Name"
        sortable
        prop="lastName">
      </el-table-column>

      <el-table-column
        label="Phone"
        sortable
        prop="phone">
      </el-table-column>

      <el-table-column
        label="Coaching Opportunity"
        sortable
        width="200"
        prop="coachinOpportunity">
      </el-table-column>  

      <el-table-column        
        label="Status"
        sortable
        prop="status"
        align="right"
        width="120"
         >
        <template slot-scope="scope">
          <el-tag
            :type="scope.row.status != 'Active' ? 'danger' : 'primary'"
            disable-transitions>{{scope.row.status}}</el-tag>
        </template>
      </el-table-column>

      <el-table-column align="right" width="50">
        <template slot-scope="scope">
          <i class="el-icon-arrow-right"></i>
        </template>
      </el-table-column>

  </el-table>


  </div>
</template>

<script>

import { staffIndex } from '@/api/queries';

export default {
  data() {
    return {
      tableData: [],
      search: '',
    }
  },
  mounted(){
    this.loadData()
  },
  methods: {
    handleRowClick(row, column, event){
      this.$router.push({name: 'StaffDetail', params: { id: row.id }})    
    },
    async loadData(){
      try{
        const staff = await this.api(staffIndex)
        this.tableData = staff.data.listStaffs.items

      }catch(e){
        console.log(e)
        this.$notify({
          title: "Error",
          type: "error",
          message: e.message
        })
      }
    }
  },
}
</script>