<template>
  <div>
    <div class="flex items-center justify-between">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="el-icon-s-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item :to="{ name: 'StaffIndex' }">Staff</el-breadcrumb-item>
        <el-breadcrumb-item>Staff Import</el-breadcrumb-item>
      </el-breadcrumb>
      <span class="flex space-x-2 items-center">
          <a class="text-blue-500 text-xs underline" href="/templates/Hera%20Staff%20Import%20Template.csv" download>Download Template</a>
          <label class="fileContainer" :class="{'opacity-25': loading}">
            Select File
            <input type="file" accept=".csv" @change="importCSV" :disabled="loading">
          </label>           
      </span>  
    </div>

    <el-table
      ref="table"
      height="450"
      empty-text="No Data"
      :data="tableData"
      v-loading="loading"
      element-loading-text="Loading..."
      element-loading-spinner="el-icon-loading"
      @selection-change="handleSelectionChange"
      style="width: 100%">

      <el-table-column
        type="selection"
        width="55">
      </el-table-column>
      

      <el-table-column
        label="First Name"
        sortable
        prop="firstName">
      </el-table-column>

      <el-table-column
        label="Last Name"
        sortable
        prop="lastName">
      </el-table-column>

      <el-table-column
        label="Phone"
        sortable
        prop="phone">
      </el-table-column> 

      <el-table-column        
        label="Status"
        sortable
        prop="status"
        align="right"
        width="120"
         >
        <template slot-scope="scope">
          <el-tag
            :type="scope.row.status !== 'Active' ? 'danger' : 'primary'"
            disable-transitions>{{scope.row.status}}</el-tag>
        </template>
      </el-table-column>

  </el-table>

  <div class="flex justify-between mt-8">
    <div>
      <p>{{selected.length}} of {{tableData.length}} to Import</p>
    </div>
    <el-button @click="importData" type="success" :disabled="selected.length == 0">Import {{selected.length}}</el-button>
  </div>

  </div>
</template>

<script>
import { createStaff } from '@/graphql/mutations'

export default {
  data() {
    return {
      loading: false,
      tableData: [],
      selected: []
    }
  },
  methods: {
    handleSelectionChange(val) {
      this.selected = val;
    },
    importCSV(e){
      this.loading = true
      var files = e.target.files || e.dataTransfer.files;
      var file = files[0]
      var reader = new FileReader();

      reader.onload = (e) => {
        var text = reader.result;
        var config = {header:false, skipEmptyLines:true}
        var csv = this.$papa.parse(text,config)
        console.log(csv)
        this.parseCSV(csv)
      }
      reader.readAsText(file)
    },
    parseCSV(csv){
      const rows = csv.data
      rows.shift()
      const data = rows.map(row => {
        return {
          firstName: row[0],
          lastName: row[1],
          phone: row[2],
          status: row[3]
        }
      })
      this.tableData = data
      this.$refs.table.toggleAllSelection()
      this.loading = false
    },
    async importData(){
      try{
        this.selected.forEach( row => {
          this.api(createStaff, {
            input: {
              firstName: row.firstName,
              lastName: row.lastName,
              phone: row.phone,
              status: row.status
            }
          })
        })
        this.$router.push({name: 'StaffIndex'})
      }catch(e){
        this.$notify({
          type: "error",
          title: "Error",
          message: e.message
        })
      }
    }

  }
}
</script>