<template>
  <div>
    <!--Header-->
    <div class="flex justify-between items-center">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="el-icon-s-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item :to="{ name: 'VehicleIndex' }">Vehicles</el-breadcrumb-item>
        <el-breadcrumb-item>2020 Ford Econoline</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="flex space-x-2 items-center">
        <label>Active</label>
        <el-switch v-model="active"></el-switch>
      </div>
    </div>
    

    <!--Main Info Grid-->
    <div class="flex justify-between mt-4 space-x-4">
      <div class="w-2/3">
        <h3>Vehicle Details</h3>
        
        <el-form label-position="top" size="small">
          <el-form-item label="Vehicle Name">
            <el-input v-model="formFields.vehicle" :readonly="disabled"></el-input>
          </el-form-item>
          <div class="flex space-x-4">
            <div class="flex-1">
              <el-form-item label="Category">
                <el-select v-model="formFields.category" placeholder="Select Category" :disabled="disabled">
                  <el-option value="Large Van"/>
                  <el-option value="Small Van"/>
                </el-select>
              </el-form-item>
            </div>
            <div class="flex-1">
              <el-form-item label="Vehicle Name">
                <el-input v-model="formFields.name" :readonly="disabled"></el-input>
              </el-form-item>
            </div>
          </div>
        </el-form>

        <div class="mt-4">
            <el-button v-if="disabled" @click="toggleDisabled" type="primary" plain>Edit</el-button>
            <div v-else class="flex space-x-4">
              <el-button  @click="toggleDisabled" type="primary">Save</el-button>
              <el-button @click="toggleDisabled" >Cancel</el-button>
            </div>
        </div>

      </div>
      <div class="w-1/3 border-l pl-4 ">
        <div>
          <h3 class="mb-2">Rental Contract</h3>
          <el-upload
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :before-remove="beforeRemove"
            multiple>
            <button class="text-blue-500 underline">Add Documents</button>
          </el-upload>
        </div>
        <div>
          <h3 class="mb-2 mt-4">Images</h3>
          <el-upload
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture-card"
            drag
            accept="image/*"
            :file-list="images"
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
            <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 1mb</div>
          </el-upload>
          <el-dialog :visible.sync="dialogVisible">
            <img width="100%" :src="dialogImageUrl" alt="">
          </el-dialog>
        </div>
      </div>
    </div>

    

  </div>
</template>



<script>
export default {
  data(){
    return{
      active: true,
      disabled: true,
      dialogImageUrl: '',
      dialogVisible: false,
      formFields:{
        id: 1,
        vehicle: '2020 Ford Econoline',
        category: 'Large Van',
        vin: '1324565872',
        licensePlate: 'MYV-652',
        status: "Active"
      },
      images:[
        {
          name: "Ford Van",
          url: "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Ford_E-Series_wagon.jpg/1200px-Ford_E-Series_wagon.jpg"
        }
      ]
    }
  },
  methods:{
    toggleDisabled(){
      this.disabled = !this.disabled
    },
    handleRemove(file, fileList) {
        console.log(file, fileList);
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    }
  }
}
</script>

