<template>
  <div>
    <!--Header-->
    <div class="flex items-center justify-between">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="el-icon-s-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item>Vehicles</el-breadcrumb-item>
      </el-breadcrumb>
      <span class="flex space-x-2">
        <div>          
          <el-dropdown trigger="click">
              <span class="el-dropdown-link">
                  <i class="el-icon-arrow-down el-icon--left"></i>Filter
              </span>
              <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item>Active</el-dropdown-item>
                  <el-dropdown-item>Amazon Grounded</el-dropdown-item>
              </el-dropdown-menu>
          </el-dropdown>
        </div>
        <div>
          <el-input
                v-model="search"
                size="mini"
                prefix-icon="el-icon-search"
                clearable
                placeholder="Search..."/>
        </div>
      </span>  
    </div>


    <!--Table-->
    <el-table
      ref="table"
      empty-text="No Data"
      :data="tableData.filter(data => !search || data.vehicle.toLowerCase().includes(search.toLowerCase()))"
      @row-click="handleRowClick"
      style="width: 100%">
      

      <el-table-column
        label="Vehicle Description"
        sortable
        prop="vehicle">
      </el-table-column>

      <el-table-column
        label="Category"
        sortable
        prop="category">
      </el-table-column>

      <el-table-column
        label="VIN"
        sortable
        prop="vin">
      </el-table-column>

      <el-table-column
        label="License Plate"
        sortable
        prop="licensePlate">
      </el-table-column>  

      <el-table-column        
        label="Status"
        sortable
        prop="status"
        align="right"
        width="120"
         >
        <template slot-scope="scope">
          <el-tag
            :type="scope.row.status !== 'Active' ? 'danger' : 'primary'"
            disable-transitions>{{scope.row.status}}</el-tag>
        </template>
      </el-table-column>

      <el-table-column align="right" width="50">
        <template slot-scope="scope">
          <i class="el-icon-arrow-right"></i>
        </template>
      </el-table-column>

    </el-table>

  </div>
</template>

<script>
  export default {
    data() {
      return {
        tableData: [
          {
            id: 1,
            vehicle: '2020 Ford Econoline',
            category: 'Large Van',
            vin: '1324565872',
            licensePlate: 'MYV-652',
            status: "Active"
          },
          {
            id: 2,
            vehicle: '2020 Ford Econoline',
            category: 'Large Van',
            vin: '1324565872',
            licensePlate: 'MYV-652',
            status: "Active"
          },
          {
            id: 3,
            vehicle: '2020 Ford Econoline',
            category: 'Large Van',
            vin: '1324565872',
            licensePlate: 'MYV-652',
            status: "Active"
          },
          {
            id: 4,
            vehicle: '2020 Ford Econoline',
            category: 'Large Van',
            vin: '1324565872',
            licensePlate: 'MYV-652',
            status: "Active"
          },
        ],
        search: '',
      }
    },
    methods: {
      handleRowClick(row, column, event){
        this.$router.push({name: 'VehicleDetail', params: { id: row.id }})    
      }
    },
  }
</script>