<template>
  <div>
    <div>
      <div id="chart-text" class="text-center relative w-full top-64">
        <p class="text-3xl text-pink-600 font-bold">5%</p>
        <p class="text-sm">Below Threshold</p>
      </div>
    </div>
    <DoughnutChart :chart-data="datacollection" :options="options" :height="190"/>
  </div>
</template>

<script>
  import DoughnutChart from '@/plugins/DoughnutChart.js'

  export default {
    components: {
      DoughnutChart
    },
    data () {
      return {
        options: {
            cutoutPercentage: 70,
            maintainAspectRatio: false,  
            aspectRatio: 1.2,          
            legend: {
                display: false
            },
        },
        datacollection: {
            labels: ["Above Threshold", "Below"],
            datasets: [
                {
                    backgroundColor: ['#2C5282b3', '#D53F8Cb3'],
                    borderColor: ['#2C5282', '#D53F8C'],
                    data: [85, 3]
                }
            ]
        }

      }
    }
  }
</script>

<style lang="scss" scoped>
#chart-text{
  top: 122px;
  clear: both;
  margin-top: -60px;
}
</style>

