<template>
  <div class="small">
    <line-chart :chart-data="datacollection" :options="options" :height="150"></line-chart>
  </div>
</template>

<script>
  import LineChart from '@/plugins/LineChart.js'

  export default {
    components: {
      LineChart
    },
    data () {
      return {
        options: {
            maintainAspectRatio: true,
            elements: {
              line: {
                tension: 0.000001
              }
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        display: true
                    }
                }],
                xAxes: [ {
                    gridLines: {
                        display: true
                    }
                }]
            },
        },
        datacollection: {
            labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
            datasets: [
                {
                    label: 'Delivery Completion Date',
                    backgroundColor: '#2c5282b3',
                    borderColor: '#2c5282',
                    data: [1, 2, 1, 4, 3, 1,3]
                }
            ]
        }

      }
    }
  }
</script>

