<template>
    <router-link class="nav-button" :to="to">
        <i class="py-3 md:py-0 text-4xl block" :class="icon"></i>
        <span class="hidden md:block nav-title">{{ title }}</span>
    </router-link>
</template>

<script>
export default {
    props:['title', 'to', 'icon']
}
</script>

<style lang="scss" scoped>

[class*=" el-icon-"], [class^=el-icon-] {
    line-height: inherit !important;
    display: block !important;
}

.nav-button{
    @apply .text-white .rounded-lg .w-40 .text-center .h-24 .pt-1 .transition .duration-300;
}

.nav-button:hover{
    background-color: rgba(255, 255, 255, 0.25);
}


.sticky-header > .nav-button{
    @apply .text-gray-600 .h-16 .w-20;
    transition: all 0.9s ease;
    
    .nav-title{
        @apply .hidden;
    }
}

.sticky-header > .nav-button:hover{
    @apply .text-blue-600 ;
}




</style>

