<template>
  <div>
    <div>     
      <transition name="fade"  mode="out-in">  
        <component v-if="isLoaded" v-bind:is="layout"></component>
        <div v-else class="flex justify-center h-screen"><img src="@/assets/svg/loading.svg"/></div>
      </transition>      
    </div>    
  </div>
</template>

<script>
import { Auth } from 'aws-amplify'
import { mapMutations } from 'vuex'
import DefaultLayout from '@/layouts/DefaultLayout'
import AuthLayout from '@/layouts/AuthLayout'

export default {
  components:{DefaultLayout, AuthLayout},
  data(){
    return {   
      isLoaded: false   
    }
  },
  mounted(){    
    this.checkAuthState()
  },
  computed:{
    layout(){
      return this.$route.meta.layout || 'DefaultLayout'
    }
  },
  methods:{
    ...mapMutations([
      'setUserInfo'
    ]),

    async checkAuthState(){
      var user = await Auth.currentUserInfo()
      this.setUserInfo(user)
      setTimeout(()=>{ this.isLoaded = true }, 300);      
    }
  }
}
</script>

<style lang="scss">

</style>