<template>
    <div class="auth-layout block lg:flex justify-between bg-cover h-screen pt-4 px-4 lg:px-24 lg:space-x-24 items-center">
        <div class="hidden md:block flex-1"></div>
        <div class="flex-1">
            <div class="mt-24 lg:mt-0 bg-blur shadow-lg w-full p-4 rounded-lg">
                <div class="w-full bg-white rounded shadow p-4">
                    <div class="mx-auto bg-blue-800 -mt-20 border-4 border-white shadow-lg rounded-full w-32 h-32 pt-3 text-white text-center">
                        <i class="uil uil-box text-6xl"></i>
                    </div>
                    <h1 class="text-center mt-4 text-4xl text-blue-700">Welcome to Hera</h1>
                    <transition name="fade"  mode="out-in">                           
                            <router-view :key="$route.fullPath" />                           
                    </transition>
                </div>
                <div class="flex pt-10 pb-6 justify-center space-x-8">
                    <div>Powered By</div>
                    <div><img class="w-32" src='@/assets/svg/amazon-logo.svg'/></div>
                </div>
                <div class="text-center">Hera Solutions, LLC &copy;2020</div>
            </div>
        </div>        
    </div>
</template>