<template>
    <div>

        <!--Header-->
        <div id="top" class="flex justify-between border-b p-2 items-center fixed w-full bg-white z-10">
            <div><img class="h-12" src="@/assets/images/sample-company.png"/></div>
            <div class="flex space-x-4 items-center">

                <el-dropdown trigger="click">
                    <span class="el-dropdown-link">
                        <i class="el-icon-arrow-down el-icon--left"></i>Mason Stenquist
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>Profile</el-dropdown-item>
                        <el-dropdown-item>Users</el-dropdown-item>
                        <el-dropdown-item divided><button @click="logout">Logout</button></el-dropdown-item>  
                    </el-dropdown-menu>
                </el-dropdown>
                
                <el-avatar icon="el-icon-user-solid"></el-avatar>
            </div>                   
        </div>


        <!--Main Nav-->
        <div class="justify-between bg-blue-800 pt-16 h-72">
            <div id="nav-container" class="container mx-auto flex justify-between pt-6 pb-24 space-x-4 px-4">
                <NavButton title="Dashboard" icon="uil-tachometer-fast-alt" :to="{name: 'Dashboard'}"/>
                <NavButton title="Daily Roster" icon="uil-calender" :to="{name: 'DailyRoster'}"/>
                <NavButton title="Staff" icon="uil-user" :to="{name: 'StaffIndex'}"/>
                <NavButton title="Vehicles" icon="el-icon-truck" :to="{name: 'VehicleIndex'}"/>
                <NavButton title="Settings" icon="uil-setting" :to="{name: 'SettingsNoSelection'}"/>                    
            </div>
        </div>

        <!--Main Content-->
        <div class="bg-gray-100 h-full">
            <div class="container relative -top-16 mx-auto px-4">
                <div class="bg-white rounded shadow p-8">
                    <transition name="fade"  mode="out-in">                           
                        <router-view :key="$route.fullPath" />                           
                    </transition>
                </div>
            </div>            
        </div> 

        <!--Footer--> 
        <footer class="bg-gray-100 -mt-8 text-center pb-4 text-sm text-blue-800">
                Hera v1.0 by Hera Solutions, LLC &copy; Copyright 2020
        </footer>    

    </div>      
</template>

<script>
import { Auth } from 'aws-amplify'
import { mapMutations } from 'vuex'
import NavButton from '@/components/NavButton'

export default {
    components: {NavButton},
    methods:{    
        ...mapMutations([
            'setUserInfo'
        ]),    
        async logout(){
            var logout = await Auth.signOut()
            this.setUserInfo(null)
            this.$router.replace({name: 'Login'})
            this.$notify({
                title: "Success",
                message: 'Logged out successfully',
                type: 'success'
            })
        }
    }
}

//Sticky Headers
//window.onscroll = function(){stickyCheck()};
document.addEventListener('scroll', (evt) => {
  stickyCheck()
}, {
  capture: true,
  passive: true
})

function stickyCheck(){
    var navContainer = document.getElementById("nav-container")
    if(window.pageYOffset > 120){
        navContainer.classList.add("sticky-header")
    }else{
        navContainer.classList.remove("sticky-header")
    }
}

</script>


<style lang="scss">
    #nav-container > .router-link-active{
        @apply .bg-white bg-opacity-25;
    }

    #nav-container > .router-link-active::after{
        content: "";
        position: relative;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid white;
        display: block;
        text-align: center;
        margin: 40px auto;
    }

    .sticky-header {
        justify-content: center !important;
        z-index: 20;
        position: fixed;
        top: -25px;
        right: 0;
        left: 0;
        padding: 0 20px;
        max-width: 600px;
    }

    .sticky-header > .router-link-active > i{
        transition: all 0.9s ease;
        @apply .text-blue-600;
    }

    .sticky-header > .router-link-active::after{
        display: none !important;
    }

</style>