<template>
  <div>
    <form class="" @submit.prevent="login">
      <h3 class="mb-2">Login</h3>
      <input class="block border p-2 w-full mb-4 rounded" type="text" v-model="formFields.email" placeholder="Email"/>
      <input class="block border p-2 w-full mb-4 rounded" type="password" v-model="formFields.password" placeholder="Password"/>
      <div class="block sm:flex sm:space-x-4">
        <button class="flex-1 w-full border p-2 bg-blue-600 text-white rounded">Login</button>
        <router-link :to="{name: 'Reset'}" tag="button" class="w-full flex-1 mt-4 sm:mt-0 text-blue-600 underline">Forgot Password?</router-link>
      </div>
    </form>
  </div>
</template>

<script>
import { Auth } from 'aws-amplify'
import { mapMutations } from 'vuex'

export default {
  data(){
    return{
      formFields:{
        email: '',
        password: ''
      }
    }
  },
  methods:{
    ...mapMutations([
      'setUserInfo'
    ]),
    async login(){
      try{
        var user = await Auth.signIn(this.formFields.email, this.formFields.password)
        this.setUserInfo(user)
        if( this.$route.query.redirect){
          this.$router.replace( this.$route.query.redirect )
        }else{
          this.$router.replace( {name: 'Dashboard'})
        }
      }catch(e){
        console.log(e)
        if(e.code == 'PasswordResetRequiredException'){
          this.$router.push({name: 'ResetConfirm', params:{email: this.formFields.email}})
        }else{
          this.$notify.error({
            title: 'Error',
            message: e.message,
            showClose: false
          })
        }
      }
    }
  }
}
</script>
