<template>
  <div>
    <form class="" @submit.prevent="send">
      <h3 class="mb-2">Enter in Verfication Code Emailed To You To Reset</h3>
      <input class="block border p-2 w-full mb-4 rounded" type="text" v-model="email" disabled placeholder="Email"/>
      <input class="block border p-2 w-full mb-4 rounded" type="text" v-model="formFields.code" placeholder="Verification Code"/>
      <input class="block border p-2 w-full mb-4 rounded" type="password" v-model="formFields.password" placeholder="New Password"/>
      <div class="block sm:flex sm:space-x-4">
        <button class="flex-1 w-full border p-2 bg-blue-600 text-white rounded">Confirm</button>
        <router-link to="/" tag="button" class="w-full flex-1 mt-4 sm:mt-0 text-blue-600 underline">Login</router-link>
      </div>
    </form>
  </div>
</template>

<script>
import { Auth } from 'aws-amplify'
import { mapMutations } from 'vuex'

export default {
  props:['email'],
  data(){
    return{
      formFields:{
        code: '',
        password: ''
      }
    }
  },
  methods:{
    ...mapMutations([
      'setUserInfo'
    ]),
    async send(){
      try{
        //RESET PASSWORD
        var reset = await Auth.forgotPasswordSubmit(this.email,this.formFields.code,this.formFields.password)
        
        //LOGIN USER WITH NEW CREDENTIALS
        var user = await Auth.signIn(this.email, this.formFields.password)
        this.setUserInfo(user)        
        if( this.$route.query.redirect){
          this.$router.replace( this.$route.query.redirect )
        }else{
          this.$router.replace( {name: 'Dashboard'})
        }
      }catch(e){
        alert(e.message)
      }
    }
  }
}
</script>
