<template>
  <div>
    <form class="" @submit.prevent="send">
      <h3 class="mb-2">Reset Your Password</h3>
      <input class="block border p-2 w-full mb-4 rounded" type="text" v-model="formFields.email" placeholder="Email"/>
      <div class="block sm:flex sm:space-x-4">
        <button class="flex-1 w-full border p-2 bg-blue-600 text-white rounded">Reset</button>
        <router-link to="/" tag="button" class="w-full flex-1 mt-4 sm:mt-0 text-blue-600 underline">Login</router-link>
      </div>
    </form>
  </div>
</template>

<script>
import { Auth } from 'aws-amplify'
import { mapMutations } from 'vuex'

export default {
  data(){
    return{
      formFields:{
        email: ''
      }
    }
  },
  methods:{
    ...mapMutations([
      'setUserInfo'
    ]),
    async send(){
      try{
        var reset = await Auth.forgotPassword(this.formFields.email)
        this.$router.push( {name: 'ResetConfirm', params:{ email: this.formFields.email }})
      }catch(e){
        alert(e.message)
      }
    }
  }
}
</script>
